/*GENERAL SETTINGS*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
body {
  background-color: rgb(255, 220, 156);
  font-family: 'Lato', sans-serif;
}
footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  font-size: 0.7rem;
  height: 2rem;
}
#team-title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: black;
  margin-top: 4vw;
}

#nav-title {
  font-weight: ;
}

p {
  font-family: 'Lato', sans-serif;
}

/*TEAM MEMBERS*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem;
}

.member {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  margin-left: 4rem;
}

.member-name {
  font-size: 1.5rem;
}

.phrase {
  font-size: 1.2rem;
  width: 22rem;
}
.member-img {
  background-color: rgb(240, 144, 129);
  width: 10vw;
  height: auto;
  border-radius: 100%;
}

.member-img img {
  width: 100%;
  height: auto;
}

.presentation p {
  margin: 8px 0 0;
}

.presentation {
  padding-left: 3vw;
}

h3 {
  margin: 0;
}
