body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffdc9c;
}

/****** GAME PAGE ******/
#game-page {
  display: none;
  width: 80%;
  margin: auto;
}

#all-memory-cards {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
  margin-bottom: 1em;
}

.cards {
  width: 100%;
}

.memory-card {
  width: 100%;
  height: auto;
}

.front-img {
  width: 100%;
  height: auto;
}

/****** TIMER ******/
#timer-container {
  display: none;
  background-color: #f9f9fc;
  border-radius: 6px;
  width: 150px;
  height: auto;
  margin: 1em auto;
}

#timer-img {
  width: 25%;
  height: auto;
  padding: 8px;
}

.timer {
  width: 10rem;
  margin: auto;
  padding-left: 1em;
  font-size: 14px;
}

/****** SCORE PAGE ******/
#score-page {
  display: none;
}

#well-done {
  text-align: center;
  margin: 3rem;
  font-family: 'Lato', sans-serif;
  color: #f09081;
  transform: rotate(-10deg);
  font-size: 2rem;
}

#score-table {
  width: 50%;
  margin: auto;
  border-radius: 10px;
  border: 2px solid var(--dark-purple);
  border-spacing: 0;
}

th {
  background-color: var(--dark-purple);
  border-radius: 6px 6px 0 0;
}

#row1,
#row3 {
  background-color: #ffcdc5;
}

#row2 {
  background-color: #ffdfda;
}

#row4 {
  background-color: #ffdfda;
  border-radius: 9px;
}

#best-times {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  color: white;
  padding: rem;
}

.player-score {
  display: flex;
  justify-content: space-around;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 1.5rem;
}

#play-again-btn {
  display: block;
  margin: 1rem auto;
}

#happy-cat {
  height: 20vh;
  position: absolute;
  bottom: 3%;
  left: 5%;
}
