@media screen and (min-width: 480px) {
  #burgerIcon {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 12px;
  }

  .head-container {
    flex-direction: column;
  }

  .home-headings p {
    text-align: justify;
  }

  .home-headings h2 {
    font-size: 2.3rem;
  }

  svg#play {
    width: 35%;
    margin: 30px auto;
  }

  .home-img {
    width: 30%;
  }

  #timer-container {
    margin: 3em auto;
  }

  .timer {
    font-size: 16px;
  }

  #all-memory-cards {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
    margin-bottom: 1em;
  }

  #score-table {
    width: 80%;
    margin-top: 5rem;
  }

  #happy-cat {
    width: 35%;
    height: auto;
    position: absolute;
    bottom: 3%;
    left: 5%;
    /* margin-top: 2.5rem; */
  }

  #burgerIcon {
    cursor: pointer;
    font-size: 3em;
    display: none;
    margin-top: -28px;
    margin-left: -32px;
  }

  /* -- SIDE NAVIGATION SETTINGS -- */
  .sidenav {
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: space-between;
    height: auto; /* height related to page */
    position: fixed; /* Stay in place */
    z-index: 1; /*Stay on top */
    top: 0; /* No border related to page */
    left: 0;
    background-color: #645e96;
    overflow-x: hidden; /* Hide text while not clicked */
    padding-top: 3em; /* Place content 3em from the top (close btn) */
    transition: 0.8s; /* 0.8 second transition effect to slide in the sidenav */
    box-sizing: border-box;
  }

  #logo {
    margin-top: -16px;
    margin-left: 160px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 350px;
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin-left: -296px;
    margin-top: 34px;
  }

  /* -- NAVIGATION MENU LINKS -- */
  .sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }

  /* Position and style the close button (top left corner) */
  .sidenav #closebtn {
    padding: 8px 8px 8px 32px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0px;
    font-size: 36px;
    margin-left: 10px;
  }
}
