/* body {
  background-color: #ffdc9c;
  font-family: 'Acme', sans-serif;
} */

.home-head {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bigbuttonplay {
  display: none;
}

#game-page {
  display: none;
}

#score-page {
  display: none;
}

   
/*
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font: 36px, 'acme', sans-serif;
  text-align: center;
}

.whatName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font: 24px, 'acme', sans-serif;
  text-align: center;
}

/* Boutton OK Home Page */

/* .buttonOK {
    
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Acme',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#645E96;
    text-align:center;
    transition: all 0.2s;
    }
    a.button:hover{
    background-color:#726CA8;
    }
    @media all and (max-width:30em){
     a.button{
    display:block;
    margin:0.2em auto;
     }
    } */

/* Boutton Play Home Page */

    /* svg#play {
      width:100px;
      margin: 120px auto;
      display:block;
      cursor: pointer;
      transform-origin: 50% 50%;
      }
      
      svg#play #triangle {
        fill:rgba(22,22,22,0);
        transition:500ms;
        transform-origin: 50% 50%;
      }
      svg#play:hover #triangle {
        fill:#5fce43;
        transform-origin: 50% 50%;
      }
      
       svg #lineOne, svg #lineTwo {
        transform-origin: 50% 50%;
        transition: 1s;
      } 
      
       svg:hover #lineOne {
        transform: rotate(260deg);
         -webkit-transform: rotate(260deg);
      -moz-transform: rotate(260deg);
      -o-transform: rotate(260deg);
         transform-origin: 50% 50%;
      } 
      
       svg:hover #lineTwo {
        transform: rotate(-450deg);
         transform-origin: 50% 50%;
      }

      img {
        position:fixed;
        bottom:0;
        right:0;
        margin:10px 0px 0px 20px;
        padding:0px;
      } */ 
