@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

body {
  height: 100vh;
  font-family: "Acme";
}

.container {
  background-color: rgb(249, 249, 252);
  width: 35%;
  height: 7em;
  border-radius: 1em;
  border: solid 2px black;
  box-shadow: 1px 1px 1px 1px rgba(26, 24, 20, 0.4);
  margin: 60px 0 0 140px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

button {
  border-radius: 1em;
  border: solid 2px black;
  width: 120px;
  height: 40px;
  font-size: 16px;
  font-family: "Acme";
}

.time {
  margin: 50ppxx 0 30px 0;
  text-align: center;
}
