body {
  background: #ffdc9c;
}

.setting-container {
  padding-top: 30%;
  width: 60%;
  margin: auto;
}

.settings {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.setting-option {
  display: inline-block;
  margin: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;
  -webkit-tap-highlight-color: transparent;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #f9f9fc;
  border-radius: 34px;
  box-shadow: -2px 4px 6px 0px rgba(129, 111, 77, 0.4);
}

.slider::before {
  content: '';
  height: 28px;
  width: 28px;
  position: absolute;
  left: 3px;
  bottom: 3px;
  border-radius: 50%;
  background-color: #645e96;
  transition-duration: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(31px);
}

input:checked + .slider {
  background-color: #8ca3cf;
}

.setting-img {
  width: 70%;
  height: auto;
  margin: 0;
  margin: 40% 0 0 -20%;
}
